{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
    <title>Site Name</title>
</head>
<body>
    <header>
        <nav class="navbar-main">
            <!-- nav-tems-------------------- -->
            <div class="nav-items-container">

                <div class="logo">SITE NAME</div>
                <div class="top-nav-menu" id="top-nav-menu-id">
                    <ul class="menu-items-container">
                        <li class="menu-item"> <a href="http://">about</a> </li>
                        <li class="menu-item"><a href="http://">skills</a></li>
                        <li class="menu-item"><a href="http://">projects</a></li>
                        <li class="menu-item"><a href="http://">resume</a></li>
                        <li class="menu-item"><a href="http://">blog</a></li>
                        <li class="menu-item"><a href="http://">contacts</a></li>
                    </ul>
                </div>
                <button class="menu-toogle-button" id="menu-toogle-button-id">button</button>

            </div>
            <!-- nav-items-----------------end -->   
        </nav>
    </header>