{% load static %}
<section class="hero-section"  style="background-color: black;">
    <div class="hero-section-container">
        <div class="hero-section-sub-container">
            <div class="hero-section-col1">
                <div>About</div>
                <div>
                     description
                </div>
            </div>
            <div class="hero-section-col2">
                <div>Social</div>
                <div class="socials-container">
                    <a  class="socials" href="">
                        <div>
                            <div>Twitter</div>
                        </div>
                    </a>

                    <a  class="socials" href="">
                        <div>
                            <div>Facebook</div>
                        </div>
                    </a>

                    <a  class="socials" href="">
                        <div>
                            <div>Linkedin</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <div class="recent-blog-articles-container">
        <div>Recent articles</div>
        <div class="recent-blog-articles">

            <a href="" class="article-recent">
                article 1
            </a>


            <a href="" class="article-recent">
                article 2
            </a>


            <a href="" class="article-recent">
                article 3
            </a>

        </div>
    </div>
</section>